# This workflow runs on every push to the main branch.
# It builds a -SNAPSHOT version of the plugin and uploads it to a "dev-latest" pre-release.
#  For buils on github, push tags:
#  - git tag v1.0.0
#  - git push origin --tags
name: Development Build

on:
  push:
    branches:
      - master

permissions:
  contents: write

jobs:
  build-and-deploy-dev:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # Needed to get the full history for tags

      - name: Set up JDK 22 and Maven Cache
        uses: actions/setup-java@v4
        with:
          java-version: '22'
          distribution: 'temurin'
          cache: 'maven'

      - name: Build for Development
        run: |
          # Try to get the latest tag. If the command fails, it will not stop the script.
          LATEST_TAG=$(git describe --tags --abbrev=0 2>/dev/null) || true
          if [ -z "$LATEST_TAG" ]; then
            echo "No tags found. Using default version v8.1.3 for the build."
            LATEST_TAG="v8.1.3" # Default version if no tags exist
          fi
          TAG_VERSION=$(echo ${LATEST_TAG#v})
          echo "TAG_VERSION=${TAG_VERSION}" >> $GITHUB_ENV
          mvn -B clean install -Drevision=${TAG_VERSION}-SNAPSHOT -DBUILD_NUMBER=${{ github.run_number }} -Dmaven.javadoc.skip -Dmaven.source.skip -Dgpg.skip --file pom.xml
        env:
          BUILD_NUMBER: ${{ github.run_number }}

      - name: Generate Dev Release Notes
        id: generate_dev_releasenotes
        run: |
          # Generate a changelog based on the commits in the push
          CHANGELOG=$(git log ${{ github.event.before }}..${{ github.event.after }} --pretty=format:"- %s")

          BODY="This is the latest development build from the master branch. Use with caution, it may contain bugs.
          
          ## Recent Changes
          ${CHANGELOG}
          
          ---
          
          **Download via SpigotMC:** https://www.spigotmc.org/resources/redprotect-anti-grief-server-protection-region-management-mod-mobs-flag-compat-1-7-1-21.15841/
          **Wiki:** https://github.com/FabioZumbi12/RedProtect/wiki"
          echo "changelog<<EOF" >> $GITHUB_OUTPUT
          echo "${BODY}" >> $GITHUB_OUTPUT
          echo "EOF" >> $GITHUB_OUTPUT

      - name: Upload to Development Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: snapshot-build${{ github.run_number }}
          name: "Snapshot - RedProtect - v${{ env.TAG_VERSION }} - Build ${{ github.run_number }}"
          body: ${{ steps.generate_dev_releasenotes.outputs.changelog }}
          prerelease: true
          files: ./RedProtect-Spigot/target/RedProtect-${{ env.TAG_VERSION }}-SNAPSHOT-b${{ github.run_number }}-Spigot.jar
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
