#  For buils on github, push tags:
#  - git tag v1.0.0
#  - git push origin --tags
name: Build and Release
on:
  push:
    branches:
      - main
    tags:
      - 'v*'

permissions:
  contents: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 22 and Maven Cache
        uses: actions/setup-java@v4
        with:
          java-version: '22'
          distribution: 'temurin'
          cache: 'maven'

      - name: Build for Development
        if: startsWith(github.ref, 'refs/heads/')
        run: mvn -B clean install -Dmaven.javadoc.skip -Dmaven.source.skip -Dgpg.skip --file pom.xml
        env:
          BUILD_NUMBER: ${{ github.run_number }}

      - name: Build for Release
        if: startsWith(github.ref, 'refs/tags/')
        run: |
          TAG_VERSION=$(echo ${GITHUB_REF#refs/tags/v})
          echo "TAG_VERSION=${TAG_VERSION}" >> $GITHUB_ENV
          mvn -B clean install -Drevision=${TAG_VERSION} -DBUILD_NUMBER=${{ github.run_number }} -Dmaven.javadoc.skip -Dmaven.source.skip -Dgpg.skip --file pom.xml
        env:
          BUILD_NUMBER: ${{ github.run_number }}

      - name: List generated files for debugging
        if: startsWith(github.ref, 'refs/tags/')
        run: ls -R

      - name: Upload Development Artifact
        if: startsWith(github.ref, 'refs/heads/')
        uses: actions/upload-artifact@v4
        with:
          name: RedProtect-Spigot-Build
          path: |
            ./RedProtect-Spigot/target/*.jar
            !./RedProtect-Spigot/target/*DONT-DOWNLOAD-*.jar
          retention-days: 7

      - name: Create GitHub Release
        if: startsWith(github.ref, 'refs/tags/')
        uses: actions/create-release@v1
        id: create_release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref_name }}
          draft: false
          prerelease: false

      - name: Upload JAR to Release
        if: startsWith(github.ref, 'refs/tags/')
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./RedProtect-Spigot/target/RedProtect-*.jar
          asset_name: RedProtect-${{ github.ref_name }}-b${{ github.run_number }}-Spigot.jar
          asset_content_type: application/java-archive